body {
  background: radial-gradient(center, circle cover, #333333 0%, #000000 100%);
  background: -webkit-radial-gradient(center, circle cover, #333333 0%, #000000 100%);
}

::selection {
	background: #49f;
}

.header {
  position: absolute;
  top: 10px;
  left: 10px;
}

a:not(.image), .reveal a:not(.image) {
  color: #49f;
  text-decoration: none;
}


.reveal a:not(.image):hover {
  color: #f00;
}

a:not(.image):hover {
  color: #f00;
}

.roll span:after, .reveal .roll span:after {
  background: #f00;
}

.reveal a:hover img {
  border-color: #49f;
}

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #49f;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #49f;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #49f;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #49f;
}

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #f00;
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #f00;
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #f00;
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #f00;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.small {
    font-size: 10px;
}
